n8n json workflow files/Outbound_Call_WorkFlow.json
{
  "name": "Outbound Call WorkFlow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "00bf2c77-d5b1-4197-af5e-3025ef8a3aaa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        -140
      ],
      "webhookId": "fc2ff759-fb1b-483e-8929-50e9f7c0c1ad"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Mobile",
              "value": "={{ $json.Mobile }}"
            },
            {
              "name": "First Name",
              "value": "={{ $json['First Name'] }}"
            },
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "656182f3-e51f-428b-9eb5-4a8df33e70a2",
      "name": "Prepare Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -80,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a1bd45ba-9311-4723-ad26-6dc495a255be"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"3441042b-e7ff-4757-8211-40270e54e615\",\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\": \"aa69046a-d7fc-4692-aadc-f498aa54f2f6\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -140
      ],
      "id": "8202b751-0225-4e86-b9c9-c9354c9deb02",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzTlaNNRHEJkQRP",
          "mode": "list",
          "cachedResultName": "Lead Manager",
          "cachedResultUrl": "https://airtable.com/appzTlaNNRHEJkQRP"
        },
        "table": {
          "__rl": true,
          "value": "tbl05BMPLPpd4PM0q",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzTlaNNRHEJkQRP/tbl05BMPLPpd4PM0q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Prepare Call Data').item.json.id }}",
            "Status": "In-Progress",
            "Attempt": "={{ Number($json.Attempt || 2) }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        420,
        -140
      ],
      "id": "b0377828-2b6d-48d2-8a96-53264f7365f8",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "NuR1TjHrK2ehvB9W",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzTlaNNRHEJkQRP",
          "mode": "list",
          "cachedResultName": "Lead Manager",
          "cachedResultUrl": "https://airtable.com/appzTlaNNRHEJkQRP"
        },
        "table": {
          "__rl": true,
          "value": "tbl05BMPLPpd4PM0q",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzTlaNNRHEJkQRP/tbl05BMPLPpd4PM0q"
        },
        "filterByFormula": "{Status} = \"TBC\"",
        "returnAll": false,
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -340,
        -140
      ],
      "id": "1cec0dc8-db94-489d-8845-8e864e43c0ff",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "NuR1TjHrK2ehvB9W",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Call Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Prepare Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db7d49a0-7af8-49d7-ac65-b426e569b9f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9894bd2a8eb1aa9b18d8ad262c15b9ad49119a98e543e85d39a72f0264d44be"
  },
  "id": "h2P87CyYdv7fRzZv",
  "tags": []
}